/*Nav-bar specifics*/
.nav-user-controls #username > img{
	height: 30px;
	width: 30px;
}

/*Debug CSS*/
.border-simple{
	border: 1px solid #e3e3e3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/*Custom CSS*/
#btn-submit, #text-editor, #tab-draw > div{
	width: 100%;
	height: 100%;
	resize: none;
}

.main > div{
	height: 50%;
	overflow-x: hidden;
	overflow-y: scroll;
}

.controls > div{
	height: 20%;
}


.chat-server{
	font: italic bold 11px sans-serif;
	color: #666666;
	text-align: center;
}

.chat-msg{
	width: auto;
	min-width: 40%;
	max-width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #e3e3e3;
	padding: 5px;
	margin-bottom: 5px;
	background-color: #ffffff;
	-webkit-border-radius: 4px;
  	-moz-border-radius: 4px;
  	border-radius: 4px;
  	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.chat-msg small{
	font: italic 11px sans-serif;
}
.chat-msg p{
	margin: 0px;
}
.chat-user{
	float: right;
	text-align: right;
	margin-left: 100%;
}

.chat-other{
	float: left;
	text-align: left;
	margin-right: 100%;
}
/*
Bootstrap Modifications
*/

/*Needed for the text/draw option
Otherwise, the tab would be longer
horizontally*/
.tabs-left .nav-tabs li a{
	min-width: 0px;
}

/*Overriding the "well" class because the
padding on that thing is ridiculous*/
.well {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
  	padding: 5px;
  	/*min-height: 20px;
  	margin-bottom: 20px;
  	background-color: #f5f5f5;
  	border: 1px solid #e3e3e3;
  	-webkit-border-radius: 4px;
  	-moz-border-radius: 4px;
  	border-radius: 4px;
  	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);*/
}