<!DOCTYPE html>
<html>
<head>
	<title>Project Obito | Express Yourself</title>
	<link type="text/css" rel="stylesheet" href="static/css/bootstrap.min.css"/>
	<link type="text/css" rel="stylesheet" href="static/css/style.css"/>
</head>
<body>
	<!-- Navbar -->
	<div class="navbar navbar-static-top navbar-inverse">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="#">Project Obito</a>
				<ul class="nav pull-right nav-user-controls">
					<li id="anon-session">
						<a href="#">
							<div class="fb-login-button" data-size="large">Connect with Facebook</div>
						</a>
					</li>
					<li id="user-session" class="dropdown">
						<a id="username" href="#" class="dropdown-toggle" data-toggle="dropdown">
							<strong></strong><img class="img-circle">
						</a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="username">
							<li><a href="/history/list">Chat History</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="span12"><br><a href="/history/list" class="btn btn-link">&lt;&lt; Back to List</a></div>
		</div>
		<div class="row">
			<div class="span12">
				<h3>Chat History<small>// {{RoomName}}</small></h3>
				<p>Here we show you your room history. Click on any of the rooms to see what transpired there.</p>
			</div>
		</div>
		<div class="row main">
			<div class="span9 well well-small">
				<ul class="chat-log unstyled">
				</ul>
			</div>
			<div class="span3 well well-small">
				<ul class="unstyled" id="user-list-container">
					{% for msg in messages %}
						<li class="chat-server">-- '+msg.content+' --</li><br>
						{% if msg.author == user %}
							<li class="chat-user">
								<small>{ msg.author } :</small>
								{% if msg.type == "text" %}
									<p> { msg.content } </p>
								{% else %}
									<canvas id="doodle">{ msg.content }</canvas>
								{% endif %}
							</li>
						{% else %}
							<li class="chat-other">
								<small>{ msg.author } :</small>
								{% if msg.type == "text" %}
									<p> { msg.content } </p>
								{% else %}
									<canvas id="doodle">{ msg.content }</canvas>
								{% endif %}
							</li>
						{% endif %}
					{% end for %}
				</ul>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="static/js/jquery.min.js"></script>
	<script type="text/javascript" src="static/js/fb.js"></script>
</body>
</html>