<!DOCTYPE html>

<html>
<head>
	<title>Project Obito | Express Yourself</title>

	<!-- CSS links -->
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
	<div class="navbar navbar-static-top navbar-inverse">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="http://192.241.196.61:8000">Project Obito</a>
				<ul class="nav pull-right nav-user-controls">
					<li id="anon-session">
						<a href="#">
							<div class="fb-login-button" data-size="large">Connect with Facebook</div>
						</a>
					</li>
					<li id="user-session" class="dropdown">
						<a id="username" href="#" class="dropdown-toggle" data-toggle="dropdown">
							<strong></strong><img class="img-circle">
						</a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="username">
							<li><a href="/history/list">Chat History</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="hero-unit" style="background-image: url('/static/img/bg.jpg');">
		<div class="container">
			<div class="pull-left">
				<h1>Let's chat!</h1>
				<p class="lead">or draw.. it's up to you. Really.</p>
			</div>
			<div class="pull-right">
				<a href="/rooms/new" class="btn btn-large btn-success">Try now! No account required</a>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="span4 text-center">
				<h4>Purely on the browser!</h4>
				<p>No need to download anything. Just open the webpage!</p>
			</div>
			<div class="span4 text-center">
				<h4>Drawing support</h4>
				<p>The <strong>ONLY</strong> webchat service which supports doodle messages!</p>
			</div>
			<div class="span4 text-center">
				<h4>No Account!</h4>
				<p>Anyone can start an anonymous chat room and enjoy the full extend of our service. You can also optionally choose to link your facebook account to keep a history of all chats</p>
			</div>
		</div>
	</div>
	<!-- Script includes -->
	<div id="fb-root"></div>
	<script type="text/javascript" src="/static/js/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/js/fb.js"></script>
</body>
</html>
